<div class="login-square">

  <div class="header-text">
    <h1>ยินดีต้อนรับ</h1>
    <p>เข้าสู่ระบบเพื่อจัดการข้อมูลของคุณ</p>
  </div>

  <form #f="ngForm" (ngSubmit)="onLogin(f)">

    <!-- Username -->
    <div class="form-group">
      <label>ชื่อผู้ใช้งาน / อีเมล</label>

      <input
        type="text"
        name="username"
        [(ngModel)]="model.username"
        #username="ngModel"
        required
        placeholder="ระบุชื่อผู้ใช้งาน"
        [class.input-error]="username.invalid && (username.dirty || username.touched)"
      />

      <small *ngIf="username.invalid && (username.dirty || username.touched)" class="text-error">
        กรุณาระบุชื่อผู้ใช้งาน
      </small>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label>รหัสผ่าน</label>

      <input
        type="password"
        name="password"
        [(ngModel)]="model.password"
        #password="ngModel"
        required
        minlength="8"
        [pattern]="passwordPattern"
        placeholder="••••••••"
        [class.input-error]="password.invalid && (password.dirty || password.touched)"
      />

      <small
        *ngIf="password.errors?.['required'] && (password.dirty || password.touched)"
        class="text-error"
      >
        กรุณาระบุรหัสผ่าน
      </small>

      <small
        *ngIf="(password.errors?.['minlength'] || password.errors?.['pattern']) && (password.dirty || password.touched)"
        class="text-error"
      >
        รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร และต้องมี A-Z, a-z, ตัวเลข และอักขระพิเศษ อย่างน้อยอย่างละ 1
      </small>
    </div>

    <button class="btn-primary-full" type="submit">
      เข้าสู่ระบบ
    </button>

    <div class="footer-link">
      ยังไม่มีบัญชี?
      <a (click)="goToRegister()">สร้างบัญชีใหม่</a>
    </div>

  </form>
</div>
