<div class="page-header">
  <button class="back-btn" routerLink="/register">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#2c7873" stroke-width="2"><path d="M15 18l-6-6 6-6"/></svg>
  </button>
  <h2>สร้างบัญชี</h2>
  <div style="width:24px"></div>
</div>

<div class="page-content center-mode">
  <div class="icon-circle">👤</div>
  <h2 class="title">สร้างบัญชีผู้ใช้งาน</h2>
  <p class="desc">กำหนดชื่อและรหัสผ่านสำหรับเข้าสู่ระบบ</p>

  <div class="form-area" [formGroup]="loginForm">
    <div class="form-group"><label>ชื่อผู้ใช้งาน</label>
      <input type="text" formControlName="username" placeholder="Username" [class.input-error]="isInvalid('username')" >
    <div class="form-group"><label>รหัสผ่าน</label>
      <input type="password" formControlName="password"placeholder="••••••••" [class.input-error]="isInvalid('password')" ></div>
      <div class="text-error" *ngIf="isInvalid('password')">
        <small *ngIf="loginForm.get('password')?.hasError('required')">กรุณาระบุรหัสผ่าน</small>
        <small *ngIf="loginForm.get('password')?.hasError('minlength')">รหัสผ่านต้องมีอย่างน้อย 8 ตัวอักษร</small>
        <small *ngIf="loginForm.get('password')?.hasError('pattern')">
          ต้องมี A-Z, a-z, ตัวเลข และอักขระพิเศษ อย่างน้อยอย่างละ 1
        </small>
    </div>
    <div class="form-group"><label>ยืนยันรหัสผ่าน</label>
      <input type="password" formControlName="confirmPassword" placeholder="••••••••" [class.input-error]="isInvalid('confirmPassword')"></div>
      <div class="text-error" *ngIf="isInvalid('confirmPassword')">
        <small *ngIf="loginForm.get('confirmPassword')?.hasError('required')">กรุณายืนยันรหัสผ่าน</small>
        <small *ngIf="loginForm.get('confirmPassword')?.hasError('passwordMismatch')">รหัสผ่านไม่ตรงกัน</small>
      </div>
  </div>
</div>

<div class="page-footer">
  <button class="btn-primary" (click)="onRegister()">ลงทะเบียน</button>
  <button class="btn-text" (click)="onCancel()">ยกเลิก</button>
</div>
